@charset "UTF-8";


body{
    color:#360736;
    background-color: rgb(228, 160, 247, 0.4);
   
}
#Container{
    width: 50vw;
    background-color:#FFFFFF;
    margin: 80px auto;
    min-height: 70vh;
    box-shadow: 24px 24px 24px #e4a0f7;
}

#Signup{
    width: 24vw;
    padding:1em;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #360736;
    border-radius: 15px;
    margin-bottom: 10px;
    margin: auto;
}

input[type="text"],input[type="email"],input[type="password"],input[type="date"]{
    width: 24vw;
    border: 0;
    padding: 12px 15px;
    margin-top: 1.2em;
    font-size:1.2vw;
   
    border-bottom: 2px solid #360736;
    border-radius: 10px;
    color:#360736
}
input:hover{
    border: 2px solid #360736;
}
input[type="radio"]{
    transform: scale(1.2);
    margin-left:2.7em;
}
a{
    text-decoration: none;
    color:#c016ba;
}
a:hover{
    color:#135772;
}
#Signup-button{
   width: 10vw;
   height: 24px;
   margin: auto;
   text-align: center;
   color: #360736;
   background-color: white;
   border-radius: 50px;
   border: 2px solid #c016ba;
}
#Signup-button:hover{
    background-color:#c016ba;
    border:2px solid #360736;
    color:white;
}
#forgottenPassword{
    text-align: right;
    padding: 0 6em;
    font-size: small;
}